Repository ardalanebrahimi/agentic-demo-ecommerce-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-containerapp.yml

azure-pipelines-backend.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build Backend
      steps:
      - task: UseDotNet@2
        displayName: Setup .NET SDK
        inputs:
          packageType: sdk
          version: $(dotnetVersion)
      - task: DotNetCoreCLI@2
  ...

azure-pipelines-containerapp.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build Backend
      steps:
      - task: UseDotNet@2
        displayName: Setup .NET SDK
        inputs:
          packageType: sdk
          version: $(dotnetVersion)
      - task: DotNetCoreCLI@2
  ...

Create an auto-deploy file
  .github/workflows/agentic-demo-env-AutoDeployTrigger-12044018-2231-40a7-90f1-081fe48fdd4d.yml
Due: none

Add Dockerfile and update Container Apps pipeline
  azure-pipelines-containerapp.yml
  backend/Dockerfile
Due: azure-pipelines-backend.yml, azure-pipelines-containerapp.yml

Fix Container Apps deploy command syntax
  azure-pipelines-containerapp.yml
Due: azure-pipelines-containerapp.yml

Update frontend to use Container Apps API URL
  frontend/src/environments/environment.prod.ts
Due: none

Clean up and reorganize pipelines
  .github/workflows/agentic-demo-env-AutoDeployTrigger-12044018-2231-40a7-90f1-081fe48fdd4d.yml
  .github/workflows/frontend-deploy.yml
  azure-pipelines-backend.yml
  backend/azure-pipelines.yml
Due: azure-pipelines-backend.yml, azure-pipelines-containerapp.yml

change backend url
  .claude/settings.local.json
  frontend/src/environments/environment.ts
Due: none

add initial admin panbel + product list and new product page
  backend/src/Modules/Catalog/Catalog.Api/Endpoints/ProductsEndpoints.cs
  backend/src/Modules/Catalog/Catalog.Application/DTOs/CreateProductRequest.cs
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/create-product-request.model.ts
  frontend/src/app/core/models/index.ts
  frontend/src/app/core/services/catalog.service.ts
  frontend/src/app/features/admin/admin-layout/admin-layout.component.html
  frontend/src/app/features/admin/admin-layout/admin-layout.component.scss
  frontend/src/app/features/admin/admin-layout/admin-layout.component.ts
  frontend/src/app/features/admin/product-form/product-form.component.html
  frontend/src/app/features/admin/product-form/product-form.component.scss
  frontend/src/app/features/admin/product-form/product-form.component.ts
  frontend/src/app/features/admin/product-list/product-list.component.html
  frontend/src/app/features/admin/product-list/product-list.component.scss
  frontend/src/app/features/admin/product-list/product-list.component.ts
Due: azure-pipelines-backend.yml, azure-pipelines-containerapp.yml

Add Azure DevOps backend pipeline
  azure-pipelines-backend.yml
Due: azure-pipelines-backend.yml

Rename pipeline to azure-pipelines-containerapp.yml
  azure-pipelines-containerapp.yml
Due: azure-pipelines-containerapp.yml

modify the admin product management section style
  frontend/src/app/features/admin/admin-layout/admin-layout.component.html
  frontend/src/app/features/admin/admin-layout/admin-layout.component.scss
  frontend/src/app/features/admin/admin-layout/admin-layout.component.ts
  frontend/src/app/features/admin/product-form/product-form.component.html
  frontend/src/app/features/admin/product-form/product-form.component.scss
  frontend/src/app/features/admin/product-form/product-form.component.ts
  frontend/src/app/features/admin/product-list/product-list.component.html
  frontend/src/app/features/admin/product-list/product-list.component.scss
  frontend/src/app/features/admin/product-list/product-list.component.ts
  frontend/src/styles.scss
Due: none

modify the claude.md file to always check the protptype style
  CLAUDE.md
Due: none

Add code-reviewer and implementation-documenter agents
  .claude/agents/code-reviewer.md
  .claude/agents/implementation-documenter.md
  CLAUDE.md
Due: none

Add custom slash commands for feature implementation
  .claude/commands/episode.md
  .claude/commands/implement.md
Due: none

add shoping cards
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/cart.model.ts
  frontend/src/app/core/models/index.ts
  frontend/src/app/core/services/cart.service.ts
  frontend/src/app/features/cart/cart-page/cart-page.component.html
  frontend/src/app/features/cart/cart-page/cart-page.component.scss
  frontend/src/app/features/cart/cart-page/cart-page.component.ts
  frontend/src/app/features/shop/product-detail/product-detail.component.html
  frontend/src/app/features/shop/product-detail/product-detail.component.scss
  frontend/src/app/features/shop/product-detail/product-detail.component.ts
  frontend/src/app/features/shop/product-list/product-list.component.html
  frontend/src/app/features/shop/product-list/product-list.component.scss
  frontend/src/app/features/shop/product-list/product-list.component.ts
  frontend/src/app/shared/components/slide-out-cart/slide-out-cart.component.html
  frontend/src/app/shared/components/slide-out-cart/slide-out-cart.component.scss
  frontend/src/app/shared/components/slide-out-cart/slide-out-cart.component.ts
Due: none

Implement multi-agent development workflow
  .claude/agents/architect.md
  .claude/agents/backend-expert.md
  .claude/agents/frontend-expert.md
  .claude/agents/moderator.md
  .claude/agents/quality-tester.md
  .claude/commands/episode.md
  .claude/commands/implement.md
  .claude/commands/orchestrate.md
  .gitignore
  CLAUDE.md
Due: none

add bakend authentication
  backend/src/Host/WebApi/Program.cs
  backend/src/Host/WebApi/WebApi.csproj
  backend/src/Host/WebApi/appsettings.json
  backend/src/Modules/Auth/Auth.Api/Auth.Api.csproj
  backend/src/Modules/Auth/Auth.Api/AuthModule.cs
  backend/src/Modules/Auth/Auth.Api/Endpoints/AuthEndpoints.cs
  backend/src/Modules/Auth/Auth.Application/Auth.Application.csproj
  backend/src/Modules/Auth/Auth.Application/DTOs/LoginRequest.cs
  backend/src/Modules/Auth/Auth.Application/DTOs/LoginResponse.cs
  frontend/src/app/core/guards/auth.guard.ts
  frontend/src/app/core/interceptors/auth.interceptor.ts
  frontend/src/app/core/models/auth.model.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/features/admin/admin-layout/admin-layout.component.html
  frontend/src/app/features/admin/admin-layout/admin-layout.component.scss
  frontend/src/app/features/admin/admin-layout/admin-layout.component.ts
  frontend/src/app/features/admin/login/admin-login.component.html
  frontend/src/app/features/admin/login/admin-login.component.scss
  frontend/src/app/features/admin/login/admin-login.component.ts
Due: azure-pipelines-backend.yml, azure-pipelines-containerapp.yml

change the backend url
  frontend/src/environments/environment.ts
Due: none

Path conditions:
  azure-pipelines-backend.yml: any of: backend, azure-pipelines-backend.yml
  azure-pipelines-containerapp.yml: any of: backend, azure-pipelines-containerapp.yml
